style(type="text/css"). 
  #home table{
    margin: 20px 0;
  }

    
#home
  .btn-group(role='group', aria-label='...')
    button.btn.btn-info.add(type='button') 添加
  
  table.table.table-bordered  
    thead
      tr
        th 编号
        th 商品名
        th 购买日期
        th 购买价格
    tbody
      each item in result.data
        tr
          td #{item.id}
          td #{item.goodsname}
          td #{item.buytime}
          td #{item.buyprice}￥
  
script(type='text/javascript').
  $('.add').click(function(){
    location.href='/action/add/'; //跳转到添加页面
  });
