style(type="text/css"). 
  #home table{
    margin: 20px 0;
  }
  
  #home .level_start {
    width: .8rem;
    height: .8rem;
    margin-right: .07rem;
  }
  #home .edit{
    color:white;
  }

#home
  .btn-group(role='group', aria-label='...')
    button.btn.btn-info.add(type='button') 添加
  
  table.table.table-striped  
    thead
      tr
        th 编号
        th 书名
        th 出版
        th 入库时间
        th 星级
        th 作者
        th 价格
        th 操作
    tbody
      each item in result
        tr
          td #{item.id}
          td #{item.bookname}
          td #{item.publisher}
          td #{item.entertime}
          td 
            -for(var i =0; i<item.level;i++)
              <img alt src="https://wap.cmread.com/rbc/p/content/repository/ues/image/s109/xqy_redstart.png" class="level_start">
             <img alt src="https://wap.cmread.com/rbc/p/content/repository/ues/image/s109/xqy_halfredstart.png" class="level_start"> 
          td #{item.author}
          td #{item.price}￥
          td
            a.btn.btn-info.btn-xs.edit(type='button',href="/toUpdate/#{item.id}") 编辑
            a.btn.btn-danger.btn-xs.edit(type='button',href="/delete/#{item.id}") 删除
            

script(type='text/javascript').
  $('.add').click(function(){
    location.href='/addBook'; //跳转到添加页面
  });
